@model class26demo.Models.LogInViewModel

    <form method="post" asp-route-returnUrl="">
        
        <div asp-validation-summary="All"></div>

        <label asp-for="Email"></label>
        <input asp-for="Email"/>
        <span asp-validation-for="Email"></span>
        <br />

        <label asp-for="Password"></label>
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
        <br />

        <label asp-for="RememberMe"></label>
        <input asp-for="RememberMe" />
        <span asp-validation-for="RememberMe"></span>
        <br />

        <label asp-for="RememberMe">
            <input type="checkbox" asp-for="RememberMe" />
            @Html.DisplayNameFor(m => m.RememberMe)
        </label>

        <button type="submit">Log in.</button>


    </form>
