@*we want the register view model to be accessed in this view*@
@model class26demo.Models.RegisterViewModel

<form method="post" asp-route-returnUrl="@ViewData["ReturnUrl"]">

    <div asp-validation-summary="All"></div>

    <h1>Create your account.</h1>
    <label asp-for="Email"></label>
    <input asp-for="Email" />
    @*this is used to access any data validation and tell the user if there is an error*@
    <span asp-validation-for="Email"></span>
    <br />

    <label asp-for="Password"></label>
    <input asp-for="Password" />
    <span asp-validation-for="Password"></span>
    <br />

    <label asp-for="ConfirmPassword"></label>
    <input asp-for="ConfirmPassword" />
    <span asp-validation-for="ConfirmPassword"></span>
    <br />  

    <button type="submit">Register</button>

</form>